.container {
  height: 100%;
}
.col-1 {
  width: 50%;
  justify-content: center;
  padding: 30px;
}

.form {
  display: flex;
  padding: 30px;
  width: 50%;
  flex-direction: column;
}

/* .form {
  display: flex;
  padding: 30px;
  width: 50%;
  flex-direction: column;
}

.form-details {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
}

label {
  color: gray;
}

hr {
  border: 1px solid #fff;
  width: 50%;
  margin-bottom: 10px;
  margin-top: 10px;
}

input[type="text"],
[type="password"],
[type="number"] {
  width: 80%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus,
[type="number"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.p {
  color: #aaa;
  padding: 10px;
}

.img-form {
  width: 1300px;
  align-content: flex-start;
}

button[type="submit"] {
  width: 80%;
  background-color: #1990fe;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
}

button[type="submit"]:hover {
  background-color: #0a84f7;
  color: #242424;
} */
.formDetails {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
}

.formDetails #inputCreatePost {
  width: 80%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

.formDetails button {
  width: 80%;
  background-color: #1990fe;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
}

.formDetails button:hover {
  background-color: #0a84f7;
  color: #242424;
  cursor: pointer;
}

span {
  color: red;
}

.login-link {
  text-align: center;
  width: 80%;
}
