.my_rents_image {
  height: 520px;
  width: 100%;
  object-fit: cover;
  background-image: url("../../assets/topbg.png");
  box-shadow: -1px 166px 252px 63px rgba(0, 0, 0, 0.92) inset;
  -webkit-box-shadow: -1px 166px 252px 63px rgba(0, 0, 0, 0.92) inset;
  -moz-box-shadow: -1px 166px 252px 63px rgba(0, 0, 0, 0.92) inset;
}

.rent-title {
  font-family: "Poppins", sans-serif;
  color: rgb(43, 43, 43);
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 50px;
}
