.col1 {
  margin-bottom: 15px;
  padding-right: 0px;
  padding-left: 0px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
  max-width: 540px;
  padding-top: 250px;
  padding-bottom: 60px;
}

.col2 {
  margin-bottom: 15px;
  padding-right: 0px;
  padding-top: 20px;
  padding-left: 0px;
  flex: 1;
  max-width: 50%;
  flex-basis: 40%;
}

.booklover {
  max-width: 125%;
  margin-top: 70px;
  margin-right: 0;
  padding-right: 0;
  vertical-align: middle;
}

.banner {
  display: flex;
  margin-top: 100px;
  margin-right: -15px;
  margin-bottom: 100px;
  margin-left: -15px;
  flex-wrap: wrap;
  align-content: stretch;
}

.sub-title {
  color: dodgerBlue;
}

.about-title {
  text-align: center;
  padding: 10px 10px 90px 10px;
}

.about-description {
  color: black;
  margin-bottom: 70px;
  text-align: center;
}

//img
.top_image {
  height: 520px;
  width: 100%;
  object-fit: cover;
  background-image: url("../../assets/topbg.png");
  box-shadow: -1px 166px 252px 63px rgba(0, 0, 0, 0.92) inset;
  -webkit-box-shadow: -1px 166px 252px 63px rgba(0, 0, 0, 0.92) inset;
  -moz-box-shadow: -1px 166px 252px 63px rgba(0, 0, 0, 0.92) inset;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  margin-top: 60px;
}

.description {
  text-align: center;
  color: white;
  margin-bottom: 70px;
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .col1 {
    padding-bottom: 65px;
  }

  .col2 {
    max-width: 80%;
    flex-basis: 60%;
    vertical-align: middle;
  }
  .col1 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
