.register {
  padding-top: 70px;
}

.signup-img {
  display: flex;
  width: 50%;
  justify-content: center;
  padding: 40px;
}

.form-signup {
  display: flex;
  padding: 30px;
  width: 50%;
  flex-direction: column;
}

.img-signup {
  max-width: 155%;
  margin-right: 0;
  padding-right: 0;
  vertical-align: middle;
}

//img-uploader scss

.preview-box {
  justify-content: center;
  display: flex;
  max-height: 400px;
  border: 2px dashed rgba(0, 0, 0, 0.7);
  padding: 1rem;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.img-uploader {
  padding-top: 100px;
}
