.login {
  padding-top: 70px;
}

.img-box {
  display: flex;
  width: 50%;
  justify-content: center;
  padding: 40px;
}

.form-box {
  display: flex;
  padding: 30px;
  width: 50%;
  flex-direction: column;
}

.booklogin {
  max-width: 125%;
  margin-right: 0;
  padding-right: 0;
  vertical-align: middle;
}

.login-form {
  margin-top: 100px;
}

@media screen and (max-width: 768px) {
  .login {
    flex-direction: column;
  }
}
