ul {
  list-style: none;
}

.pricing.wrapper {
  padding: 100px 0 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fafafa;
  margin-left: 50px;
}

.price-heading > h1 {
  color: #242424;
  font-size: 28px;
  margin-bottom: 54px;
}

.pricing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
h1 {
  justify-content: center;
}

h1.title {
  color: #fff;
  font-size: 48px;
  margin-bottom: 24px;
}

.cards {
  background: #8f92ad;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
  width: 280px;
  margin-left: 20px;
  height: 500px;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  
}


.cards:hover {
  background: #2e2f50;
  transform: scale(1.06);
  transition: all 0.3s ease-out;
  color: #fff;
}

.card-title {
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.card-price {
  font-size: 3rem;
  text-align: center;
}

h2 > span {
  font-size: 1rem;
}

.cards ul {
  text-align: center;
  font-size: 0.9rem;
  font-weight: lighter;
}

.cards ul li:before {
  content: "✓";
  margin-right: 0.5rem;
  color: #bc1e4a;
  font-size: 1.5rem;
}

.cards ul li {
  margin-bottom: 0.5rem;
}

.card-btn {
  margin-top: 1rem;
  width: 80%;
  background-color: transparent;
  border: 1px solid #bc1e4a;
  color: white;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

#card-1 .card-btn:hover,
#card-2 .card-btn:hover,
#card-3 .card-btn:hover,
#card-4 .card-btn:hover,
.active .card-btn {
  background-color: #bc1e4a;
}

.note {
  color: #bc1e4a;
  font-size: 0.75rem;
  text-align: left;
  display: block;
  margin-top: 5px;
}

@media screen and (max-width: 960px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

 
  .cards {
    width: 90%;
  }

  .pricing-section {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cards:nth-child(1) {
    transform: scale(1);
    background: #8f92ad;
    margin: 24px;
  }

  .cards:nth-child(2) {
    transform: scale(1);
    background: #8f92ad;
    margin: 24px;
  }

  .cards:nth-child(3) {
    transform: scale(1);
    background: #8f92ad;
    margin: 24px;
  }

  .cards:nth-child(4) {
    transform: scale(1);
    background: #8f92ad;
    margin: 24px;
  }

  .cards:hover {
    transform: none;
    background: #2e2f50;
    color: #fff;
  }
}
