.register {
  padding-top: 70px;
}

.signup-img {
  display: flex;
  width: 50%;
  justify-content: center;
  padding: 40px;
}

.form-signup {
  display: flex;
  padding: 30px;
  width: 100%;
  flex-direction: column;
}

.img-signup {
  max-width: 136%;
  margin-right: 0;
  padding-right: 0;
  vertical-align: middle;
}

.btn-submit {
  margin-top: 20px;
}

// .error-text{
//   color: ;
// }

//img-uploader scss

.preview-box {
  justify-content: center;
  display: flex;
  max-height: 300px;
  border: 2px dashed rgba(0, 0, 0, 0.7);
  padding: 1rem;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.img-uploader {
  padding-top: 100px;
}

.error-text {
  color: red;
}

.upload-label {
  margin-top: 20px;
  margin-right: 150px;
}

.img-upload-card {
  height: 120%;
  width: 90%;
  background-color: #ffffff59;
  border-radius: 5%;
  color: white;
  border-color: black;
}

.image-uploaded-text {
  font-size: 0.8rem;
  margin-top: -10px;
}
